form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #0a0a0a; /* Глубокий чёрный */
    padding: 20px;
    border: 1px solid #00829b;
    border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #00829b;
    background: #0a0a0a;
    color: #e0e0e0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif;
}

button, input[type="submit"] {
    padding: 10px 20px;
    background: #ff534b;
    color: #fff;
    border: 1px solid #a10f03;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}

button:hover, input[type="submit"]:hover {
    background: #a10f03; /* Неактивный красный */
    border-color: #ff534b;
}

/* Чат-форма */
#form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#input {
    border: 1px solid #00829b;
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
}

#form > button {
    background: #ff534b;
    border: 1px solid #a10f03;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    text-transform: uppercase;
}

#form > button:hover {
    background: #a10f03;
    border-color: #ff534b;
}
