#profileData {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0a0a0a; /* Чёрный фон */
    border: 1px solid #00829b; /* Тонкая синяя рамка */
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    color: #eee;
}

/* Заголовок */
#profileData h2 {
    font-size: 1.5em;
    color: #00829b;
    text-transform: uppercase;
    border-bottom: 1px solid #00829b;
    padding-bottom: 5px;
}

/* Текст */
#profileData p {
    font-size: 14px;
    line-height: 1.4;
    color: #ccc;
    margin: 5px 0;
}

/* Выделение ключевых элементов */
#profileData span {
    font-weight: bold;
    color: #ff534b;
}

/* Стиль имени пользователя */
#username {
    text-transform: uppercase;
    color: #00829b;
    font-weight: bold;
}

/* Аватарка */
#profileData img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #00829b;
    object-fit: cover;
}
