body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

#messages {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border: 1px solid #444;
    background-color: #2e2e2e;
    margin-bottom: 20px;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2e2e2e; /* Сделали фон таким же, как у контейнера */
    border-bottom: none; /* Убрали нижнюю границу */
}

#form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#input {
    border: 1px solid #555;
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

#form > button {
    background: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#form > button:hover {
    background: #367c39;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #555;
    background: #333;
    color: #e0e0e0;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #367c39;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 20px 0;
}

a:hover {
    text-decoration: underline;
}
