/* /var/www/rust_server_cyb3ria_xyz/static/css/styles.css */

/* Общие стили, базовые стили для всего приложения */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    display: block; /*  чтобы ссылки занимали всю ширину блока */
    margin: 20px 0;
}

a:hover {
    text-decoration: underline;
}